<head>
    <link rel="stylesheet" href="section3.component.css">
</head>
<div id="sec3">
      <section id="services" class="bg-light">
        <div class="container">
            <div class="text-center pt-5">
                <h2 class="display-4 pt-5">My services</h2>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi temporibus quod in dolor obcaecati deserunt?</p>
                <div class="block"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card text-center p-5 mb-2">
                        <h5 class="card-title">Web Development</h5>
                         <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic molestiae distinctio optio in, provident tempora.</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card text-center p-5 mb-2">
                        <h5 class="card-title">Video Editing</h5>
                         <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic molestiae distinctio optio in, provident tempora.</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card text-center p-5 mb-2">
                        <h5 class="card-title">Mobile Development</h5>
                         <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic molestiae distinctio optio in, provident tempora.</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card text-center p-5 mb-2">
                        <h5 class="card-title">Mobile Development</h5>
                         <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic molestiae distinctio optio in, provident tempora.</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card text-center p-5 mb-2">
                        <h5 class="card-title">Mobile Development</h5>
                         <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic molestiae distinctio optio in, provident tempora.</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card text-center p-5 mb-2">
                        <h5 class="card-title">Mobile Development</h5>
                         <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic molestiae distinctio optio in, provident tempora.</p>
                    </div>
                </div>
            </div>
        </div>
      </section>
</div>