<head>
    <link rel="stylesheet" href="section2.component.css">
</head>
<div id="sec2">
    <section id="about" class="bg-ligth">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 spacing">
                    <img [src]="image" alt="" class=":img-fluid img-hero">
                </div>
                <div class="col-lg-6">
                    <h2 class="display-4">Hi, I am {{username}}</h2>
                    <p class="lead">{{info}}</p>
                    <p class="lead" id="text">{{info}}</p>
                    <a href="#" class="btn btn-dark p-2" (click)="toggleAdditionalInfo()">Read more</a>
                </div>
            </div>
        </div>
    </section>
</div>