<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" >Production App</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="register" routerLinkActive="active_link">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login" routerLinkActive="active_link">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="card" routerLinkActive="active_link">
                        <i class="fas fa-shopping-cart"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
