.star-rating {
    font-size: 1.2rem;
  }
  
  .fa {
    color: #999; /* Change to the desired color for unselected stars */
  }
  
  .checked {
    color: gold; /* Change to the desired color for selected stars */
  }
  
  .half-star::before {
    content: '\f089';
    color: gold; /* Change to the desired color for half stars */
  }
  
  .empty-star::before {
    content: '\f006';
    color: #999; /* Change to the desired color for empty stars */
  }